
<input type="text" name="" value ="" placeHolder="Please enter the company Name" #companyName id="companyName">

<button type= "button" value= "button" 
class="btn btn-outline-primary btn-lr"
(click)="this.getStockDetails(companyName.value)" #History> 
<span class="fa fa-search"></span>
</button>

<div class="currentCompany">
<table >
    <tr *ngIf="this.currentCompanyDetails !== undefined">
        <td>{{ this.currentCompanyDetails.companyName }}</td>
        <td *ngFor ="let value of this.currentCompanyDetails.values"> {{value }} </td>
    </tr>
</table>
</div>

<div class="pastSearch">
    Past Search Details
    <table >
        <tr *ngFor="let pastSearch of this.pastSearchData">
            <td>{{ pastSearch.companyName }}</td>
            <td *ngFor="let value of pastSearch.values">{{ value }}</td>
            <td></td>
        </tr>
    </table>
</div>




